[submodule "submodule/SwiftGen"]
	path = submodule/SwiftGen
	url = https://github.com/AliSoftware/SwiftGen.git
[submodule "submodule/SwiftTimer"]
	path = submodule/SwiftTimer
	url = https://github.com/100mango/SwiftTimer.git
[submodule "submodule/Fusuma"]
	path = submodule/Fusuma
	url = https://github.com/ytakzk/Fusuma.git
[submodule "submodule/iOS_WebP"]
	path = submodule/iOS_WebP
	url = https://github.com/seanooi/iOS-WebP.git
[submodule "submodule/IHKeyboardAvoiding"]
	path = submodule/IHKeyboardAvoiding
	url = https://github.com/IdleHandsApps/IHKeyboardAvoiding.git
