github "apple/swift-protobuf" "0.9.26"
github "xmartlabs/Eureka" ~> 2.0.0
github "Ramotion/navigation-stack"
github "IBanimatable/IBAnimatable"
github "SwiftyBeaver/SwiftyBeaver"
github "hyperoslo/Whisper"
github "lexrus/LTMorphingLabel"
github "eddiekaiger/SwiftyAttributes"
github "radex/SwiftyTimer"
github "Ekhoo/Device" ~> 2.0.1
github "optonaut/ActiveLabel.swift"
github "marmelroy/PhoneNumberKit"
github "teodorpatras/EasyTipView"
github "marmelroy/Format"
github "ReactiveKit/Bond" "master"
github "SnapKit/SnapKit" ~> 3.1.2
github "poolqf/FillableLoaders" ~> 1.3.0
github "AugustRush/Stellar"
github "marmelroy/Interpolate"
github "yannickl/DynamicColor" >= 3.2.1
github "ephread/Instructions" ~> 0.5
