github "apple/swift-protobuf" "0.9.26"
github "Ramotion/navigation-stack"
github "hyperoslo/Whisper"
github "Ekhoo/Device" ~> 2.0.1
github "SnapKit/SnapKit" ~> 3.1.2
github "yannickl/DynamicColor" >= 3.2.1
github "badoo/Chatto"
github "ashleymills/Reachability.swift" ~> 3.0.0
github "DaveWoodCom/XCGLogger" ~> 4.0.0
github "rs/SDWebImage"
github "malcommac/SwiftDate" ~> 4.0
github "ReactiveX/RxSwift" ~> 3.0
